<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Web Application Test Automation Suite">

	<listeners>
		<listener
			class-name="com.bridgelabz.extentreport.ExtentReportListener" />
	</listeners>

	<test name="Appium basic test cases">
		<classes>
			<class name="com.bridgelabz.test.CountAllElementsTest" />
			<class name="com.bridgelabz.test.ActionSheetTest" />
			<class name="com.bridgelabz.test.DatePickerTest" />
			<class name="com.bridgelabz.test.HandleAlertsTest" />
			<class name="com.bridgelabz.test.PickerViewTest" />
		</classes>
	</test>
</suite>